/*======== Body estilos de todo el cuerpo ========*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f2;
    margin: 0;
}
/*======== Estilos del encaezado ========*/
header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    font-size: 10px;
    border-bottom: 1px solid rgba(182, 182, 182, 0.212);
    margin: 0;
}

header .encabezado {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

header .izquierda,
header .derecha {
    display: flex;
}

header .menu img {
    margin-top: 2px;
    width: 32px;
    height: 32px;
}

header .logo img {
    width: 210px;
    height: 36px;
}

header .carrito img {
    width: 32px;
    height: 32px;
}

header .perfil img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

/*======== Cuerpo de la web apartado del Carruesel del inicio ========*/

.carrusel {
    position: relative;
    width: 70%; 
    margin: 4% auto 7%; 
}

.slider {
    

}

.slider ul {
    
}

.slider li {
    
}

.slide img {
    width: 80%; 
    height: auto;
}
.carrusel .recuadro-negro {
    width: 100%;
    height: 7vw; 
    background-color: black;
    bottom: 0;
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    color: white;
    padding: 10px;
    margin-top: -40px;
    z-index: 1;
}

.carrusel .recuadro-negro p {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 3%;
    font-size: 24px;
}

/*======== Apartado de las opciones del usuario ========*/

.opciones {
    display: flex;
    justify-content: center;
    margin-top: 18%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.ropa {
    border: #222 1px solid;
}

.ropa img{
    width: 100%;
    height: auto;
}

.mercha {
    border: #222 1px solid;
}

.mercha img {
    width: 100%;
    height: auto;
}

.comida {
    border: #222 1px solid;
}

.comida img {
    width: 100%;
    height: auto;
}

.electronica {
    border: #222 1px solid;
}

.electronica img {
    width: 100%;
    height: auto;
}

/*======== Pie de pagina de la web ========*/

footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 10px;
}