/*======== Body estilos de todo el cuerpo ========*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f2;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}
/*======== Estilos del encaezado ========*/
header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    font-size: 10px;
    margin: 0;
}

header .encabezado {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

header .izquierda,
header .derecha {
    display: flex;
}

header .logo img {
    margin-left: 20px;
    width: auto;
    height: 50px;
}

header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu menu a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

header .menu menu a:hover {
    color: #2970DB;
}

header .carrito img {
    width: 32px;
    height: 32px;
}

header .perfil img {
    width: px;
    height: 32px;
    margin-left: 20px;
}


/*======== Cuerpo de la web apartado del Carruesel del inicio ========*/


.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: auto; /* Ajusta la altura del carrusel según sea necesario */
    width: 100%; /* Ajusta el ancho del carrusel según sea necesario */
    margin: auto; /* Centra el carrusel horizontalmente */
}

.slider {
    display: flex;
    width: 400%; /* 4 imágenes = 400% */
    animation: slide 30s infinite;
}

.slider ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.slider li {
    flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del carrusel */
    display: flex;
    justify-content: center; /* Centra las imágenes verticalmente */
    align-items: center; /* Centra las imágenes verticalmente */
}

.slider img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); } /* Retorno inmediato al principio */
}

.cuerpo h1 {
    color: white;
    background-color: #2970DB;
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    border: #2970DB 1px solid;
}

/*======== Apartado de las opciones del usuario ========*/

.opciones {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.ropa {
    margin-right: 1%;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.ropa:hover {
    background-color: #2970DB;
}


.ropa img{
    width: 100%;
    height: auto;
}

.ropa p {
    text-align: center;
    font-size: 18px;
    color: #2970DB;
    transition: background-color 0.3s;
}

.ropa:hover p {
    color: white;
}

.mercha {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin-right: 1%;
    margin-left: 1%;
    transition: background-color 0.3s;
}

.mercha:hover {
    background-color: #2970DB;
}

.mercha img {
    width: 100%;
    height: auto;
}

.mercha p {
    text-align: center;
    font-size: 18px;
    color: #2970DB;
    transition: background-color 0.3s;
}

.mercha:hover p {
    color: white;
}

.comida {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin-right: 1%;
    margin-left: 1%;
    transition: background-color 0.3s;
}

.comida:hover {
    background-color: #2970DB;
}

.comida img {
    width: 100%;
    height: auto;
}

.comida p {
    text-align: center;
    font-size: 18px;
    color: #2970DB;
    transition: background-color 0.3s;
}

.comida:hover p {
    color: white;
}

.electronica {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin-left: 1%;
    transition: background-color 0.3s;
}

.electronica:hover {
    background-color: #2970DB;
}

.electronica img {
    width: 100%;
    height: auto;
}

.electronica p {
    text-align: center;
    font-size: 18px;
    color: #2970DB;
    transition: background-color 0.3s;
}

.electronica:hover p {
    color: white;
}

/*======== Pie de pagina de la web ========*/

footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 10px;
}